.profile {
    width: 50%;
    height: 500px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid black;
}

.profile-firstName {
    text-align: center;
}

.profile-answers {
    text-align: center;
}

.profile-decision {
    display: flex;
    justify-content: center;
}

.profile-compare {

}
