<div class="teammate" [ngStyle]="{'background-color': (isAvailable) ? 'green' : 'red'}">
    <div class="teammate-container">
        <div>
            Rank: {{teammate.rank}}
        </div>

        <div >
            <div>
                Gender: {{teammate.gender}}
            </div>
        
            <div>
                Role: {{teammate.role}}
            </div>
        </div>
    
        <div>
            <div>
                Values:  {{teammate.values}}
            </div>
        </div>
    
        <div>
            <button (click)='sendInvitation(); clicked=true' [disabled]="clicked"> 
                Send Request
            </button>
        </div>
    
    </div>
</div>

