.teammate {
    margin: 20px auto;
    background-color: #C7615C;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    padding: 30px 30px;
    max-width: 850px;
    width: 80%;
}

.mat-chip.agree {
    background-color: rgb(62, 165, 62) !important; 
}

.mat-chip.disagree {
    background-color: rgb(196, 66, 66) !important; 
}

.attributes {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    margin-top: 20px;
}

.valueLabel {
    font-size: 20px;
    padding-left: 10px;
}

.values {
    margin-top: 10px;
    margin-bottom: 10px;
}

.requestButton {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.requestButton button {
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
}

.requestButton button:hover {
    background-color: rgb(177, 176, 176);
    cursor: pointer;
}
