<div class="team">
    <div class="team-container">
        <div>
            Rank:
        </div>

        <div >
            <div>
                In Game Name: {{team.riotID}} 
            </div>
        
            <div>
                Tagline: {{team.tagline}}
            </div>

            <div>
                Gender: {{team.groupType}}
            </div>
        
            <div>
                Role: {{team.role}}
            </div>
        </div>
    
        <div>
            <div>
                Values: {{team.values}}
            </div>
        </div>
    
        <div>
            <button>
                Accept
            </button>
            <button>
                Reject
            </button>
        </div>
    </div>
</div>
