.statement {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    color: gray;
}

.agree-text {
    color: var(--green-color);
    font-size: 20px;
    font-weight: 500;
}

.disagree-text {
    color: var(--red-color);
    font-size: 20px;
    font-weight: 500;
}

.opinion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.opinion input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 2px solid grey;
}

.opinion input.small {
    width: 25px;
    height: 25px;
}

.opinion input.medium {
    width: 35px;
    height: 35px;
}

.opinion input.large {
    width: 45px;
    height: 45px;
}

.opinion input:checked {
    background-color: gray;
}

.opinion input.agree:checked {
    background-color: var(--green-color);
}

.opinion input.disagree:checked {
    background-color: var(--red-color);
}

.opinion input.agree {
    border: 2px solid var(--green-color)
}

.opinion input.disagree {
    border: 2px solid var(--red-color)
}

.opinion input:hover {
    background-color: gray;
}

.opinion input.agree:hover {
    background-color: var(--green-color);
}

.opinion input.disagree:hover {
    background-color: var(--red-color);
}

.divider {
    border-top: 1px solid gray;
    margin: 50px auto;
    width: 90%;
}




