<div class="statement"> {{statement}}</div>

<div class="opinion">
    <span class="disagree-text">Disagree</span>

    <input class="large disagree" type="radio" name={{valueIndex}} (click)="emitOpinion(0)">
    <input class="medium disagree" type="radio" name={{valueIndex}} (click)="emitOpinion(1)">
    <input class="small disagree" type="radio" name={{valueIndex}} (click)="emitOpinion(2)">
    <input class="neutral" type="radio" name={{valueIndex}} (click)="emitOpinion(3)">
    <input class="small agree" type="radio" name={{valueIndex}} (click)="emitOpinion(4)">
    <input class="medium agree" type="radio" name={{valueIndex}} (click)="emitOpinion(5)">
    <input class="large agree" type="radio" name={{valueIndex}} (click)="emitOpinion(6)">

    <span class="agree-text">Agree&nbsp;&nbsp;&nbsp;</span>
</div>

<div class="divider"></div>