<div class="statement"> {{statement}}</div>

<div class="opinion">
    <span class="disagree-text">Disagree</span>

    <input class="disagree large" type="radio" name={{questionNumber}} (click)="emitOpinion($event)">
    <input class="disagree medium" type="radio" name={{questionNumber}} (click)="emitOpinion($event)">
    <input class="disagree small" type="radio" name={{questionNumber}} (click)="emitOpinion($event)">
    <input class="neutral" type="radio" name={{questionNumber}} (click)="emitOpinion($event)">
    <input class="agree small" type="radio" name={{questionNumber}} (click)="emitOpinion($event)">
    <input class="agree medium" type="radio" name={{questionNumber}} (click)="emitOpinion($event)">
    <input class="agree large" type="radio" name={{questionNumber}} (click)="emitOpinion($event)">

    <span class="agree-text">Agree&nbsp;&nbsp;&nbsp;</span>
</div>

<div class="divider"></div>