<nav >

    <a href="/">Title</a>

    <a href="/">Home</a>
    
    <a href="/search">Search</a>

    <a id="login-button" href="/login">Login</a>

</nav>

<div>
    content below should be in another page
    and you should figure out how to route to other pages
</div>

<div>
    Imagine
    Some button to guide to search
</div>

<div>
    Answer and create a 
</div>

<div>
    Find based on similarity or filter
</div>

<div>
    Get statistics of populations

</div>

<div>
    Ready?
    Some button to guide to search
</div>

