.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    background-color: white;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}

#logo:hover { 
    color: grey;
}
