.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logo {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

#logo:hover { 
    color: grey;
}

.right-links a {
    font-size: 20px;
    padding: 20px;
}

.right-links a:hover {
    background-color: grey;
}




