.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black;
    padding: 10px;
    letter-spacing: 2px;
    z-index: 10;
}


.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logo {
    font-size: 30px;
    padding: 15px;
    color: white;
}

#logo:hover { 
    color: grey;
}

.navButton {
    color: white;
    display: inline-flex; 
    justify-content: center;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 2px;
}

.navButton:hover {
    background-color: rgb(66, 65, 65);
}