.split {
    color: white;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

h2 {
    font-size:  3.0vw;
}

.left {
    left: 0;
    background-color: #79B2A1;
}

.left:hover {
    background-color: #85c0ae;
    cursor: pointer;
}

.right {
    right: 0;
    background-color: #C7615C;
}

.right:hover {
    background-color: #e96d67;
    cursor: pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}