<div>
    <button (click)="connectAsPlayer()">
        Find a team
    </button>
</div>

<div>
    <button (click)="connectAsGroup()">
        Find a teammate
    </button>
</div>

<div>
    <button (click)="emitRequestForPlayers()">
        Get some players
    </button>
</div>

<div *ngFor="let player of players">
    <app-teammate 
        [id] = 'player.id'
        [teammate] = 'player.info'
    >
    </app-teammate>
</div>

<div *ngFor="let group of groups">
    <app-team
        [id] = "group.id"
        [team] = "group.info"
    >
    </app-team>
</div>





<!-- TEAMMATE


TEAM

 -->

