<div>
    Riot ID:
    <input type="text" [(ngModel)]="riotID" maxlength="35">
</div><br>

<div>
    Tagline:
    <input type="text" [(ngModel)]="tagline" maxlength="35">
</div><br>

<div>
    Average Group Rank: 

    <app-choices 
        [choicesList]="rankList" 
        [(choices)]="rank"
        [initialChoice]="rank"
    ></app-choices>
</div><br>

<div>
    Your Group Type:
    <app-choices 
        [choicesList]="groupList" 
        [(choices)]="group"
        [initialChoice]="group"
    ></app-choices>
</div><br>

<div>
    Group's Preference for New Player
    <app-choices 
        [choicesList]="genderList" 
        [(choices)]="gender"
        [initialChoice]="gender"
    ></app-choices>
</div><br>

<div>
    Group's Preferred Roles:
    <app-choices 
        [isMultiple]=true
        [choicesList]="roleList"
        [(choices)]="role"
        [initialChoice]="role"
    ></app-choices>
</div><br>