.logout-button {
    background-color: #E75957;
    color: black;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 2px;
}

.logout-button:hover {
    background-color: rgb(66, 65, 65);
    cursor: pointer;
}

.logout-button:focus {
    border: 2px solid black;
}