<div class="settings" [ngStyle]="isFindingTeammate ? {'background-color': '#C7615C'} : {'background-color': '#79B2A1'}">
    <div>
        {{isFindingTeammate ? 'Your Group Settings' : 'Your Personal Settings'}}
    </div>
    <div class="attributes">
        <mat-chip-list>
            <mat-chip> {{settings.riotID}} #{{settings.tagline}}</mat-chip>
            <mat-chip> {{isFindingTeammate ? settings.group : settings.gender}} </mat-chip>
            <mat-chip> {{settings.rank}} </mat-chip>
            <mat-chip *ngFor="let role of settings.role"> {{role}} </mat-chip>
        </mat-chip-list>
    </div>

    <div class="title">
        Values
    </div>
    <div class="values">
        <mat-chip-list>
            <mat-chip 
                *ngFor="let value of shortenedValues; let i = index"
                [matTooltip]="values[i]" 
                [class]="getChipColor(answers[i])">
                    {{value}}: 
                    {{getOpinionText(answers[i])}}
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="changeSettingsButton">
        <button (click)="navigateToSettings()">
            Change Settings
        </button>
    </div>
</div>
